.resume-page {
  display: flex;
  height: 100%;
}

.side-bar {
  background-color: rgb(36, 72, 170);
  min-width: 35%;
  color: white;
  padding: 2em 1.5em;
  overflow: auto;
}

.side-name {
  margin: 0;
}

.side-position {
  margin-top: 0.3em;
}

.side-heading {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

main {
  overflow: auto;
  min-width: 65%;
  padding: 2em 1em;
}

.summary-heading {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.experience-heading {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}