.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-preview {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 1em;
}

.toggle-input {
  opacity: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-input:checked + .toggle-slider {
  background-color: rgb(70, 70, 70);
}

.toggle-input:focus + .toggle-slider {
  box-shadow: 0 0 1px white;
}

.toggle-input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

.toggle-slider {
  border-radius: 34px;
}

.resume-page {
  display: flex;
  height: 700px;
  min-width: 70vw;
  border: 1px solid black;
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.5);
}

.side-bar {
  background-color: rgb(36, 72, 170);
  min-width: 35%;
  color: white;
  padding: 2em 1.5em;
  overflow: auto;
}

.side-name {
  margin: 0;
}

.side-position {
  margin-top: 0.3em;
}

.side-heading {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

main {
  overflow: auto;
  min-width: 65%;
  padding: 2em 1em;
}

.summary-heading {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.experience-heading {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}