button[type='reset'] {
  margin-right: 1em;
}

button {
  padding: 0.5em 1em;
  background-color: grey;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  color: white;
}

button:hover {
  background-color: rgb(218, 218, 218);
  color: black;
  box-shadow: 0 0 0 1px black;
}